<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quo,
        harum fugiat inventore, facilis eum, sit ipsum fuga officiis recusandae
        laudantium quis aliquid optio dolorum excepturi laboriosam eaque?
        Provident, esse.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae inventore
        at, qui quo, corrupti minima, error earum mollitia ut labore repellat
        nostrum itaque non similique cumque magnam ducimus. Perspiciatis,
        recusandae.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias ut
        dolorem fugiat qui nostrum repudiandae magni architecto! Earum, corrupti
        aliquid iure assumenda molestias, fuga ipsa veritatis nulla velit
        repellat adipisci.
      </p>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
